snippet cout "cout with endl" i
std::cout << $1 << "\n";
endsnippet

# snippet cout "cout with endl" i
# cout << ${1: your message} << endl;
# endsnippet

snippet class "class description"
class ${1:ClassName}
{
private:
	${2:your_field};
public:
	$1();
	~$1();
	$1(const $1 &other);
};
endsnippet

snippet for "for loop snippet"
for (int i = $1; i < size; i++)
{
	$2;
}
endsnippet
